.flat-progressbar{
	height: 10px;
}

.console{
	height: 480px;
}

.form-control::-webkit-input-placeholder { opacity: 0.4; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { opacity: 0.4; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { opacity: 0.4; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { opacity: 0.4; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { opacity: 0.4; }  /* Microsoft Edge */